<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/case-detail.css">
    <title>Document</title>
</head>

<body>
    <%- include('components/header'); -%>
    <main class="container">
        <div class="section1 wow text-down" style="animation-delay: 2.4s;">
            <h1><%= case_name %></h1>
            <div class="tag ">
                <span><%= classfiy_id1.classfiy_name %></span>
                <span><%= classfiy_id2.classfiy_name %></span>
            </div>
            <h4><%= case_subname%></h4>

            <p>
                <%= case_desc %>
            </p>
            <br>
            <br>
            <p><%= case_desc %></p>
            <a href="<%= case_uri %>" class="btn-click project-info magnetic" data-strength="25"
                data-strength-text="15">
                <div class="btn-fill"></div>
                <span class="btn-text">
                    <span class="btn-text-inner change">项目资料</span>
                </span>
            </a>
        </div>
        <div class="content">
            <%-content%>
        </div>


    </main>
    <%- include('components/footer'); -%>
    <script>
        $(function () {
            $('a.top_nav-link[href = "/cases"]').addClass("w--current");
            $(".content p").addClass("wow text-down")
        })
    </script>
</body>

</html>